<a asp-controller="Admin" asp-action="MainAdmin" class="btn btn-primary btn-lg mx-2" role="button">
    <i class="bi bi-check"></i> Tekshirish
</a>

<a asp-controller="Admin" asp-action="BlogAdmin" class="btn btn-success btn-lg mx-2" role="button">
    <i class="bi bi-newspaper"></i> Yangilik
</a>

<a asp-controller="Account" asp-action="AdminRegister" class="btn btn-warning btn-lg mx-2" role="button">
    <i class="bi bi-person-plus"></i> Add Admin
</a>
