@model LoginViewModel

<h2 class="text-center mb-4">Tizimga kirish</h2>

<form asp-action="Login" method="post" class="w-50 mx-auto">
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    <div class="form-group mb-3">
        <label for="email" class="form-label">Email</label>
        <input asp-for="Email" class="form-control" id="email" placeholder="Emailingizni kiriting" required />
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>
    <div class="form-group mb-4">
        <label for="password" class="form-label">Parol</label>
        <input asp-for="Password" type="password" class="form-control" id="password" placeholder="Parolni kiriting" required />
        <span asp-validation-for="Password" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary w-100">Tizimga kirish</button>
</form>

<div style="margin-top: 50px;">

    <div class="text-center mt-3">
        <a asp-controller="Account" asp-action="Register" class="btn btn-success w-50"><b>Ro'yxatdan o'tish</b></a>
    </div>

    <div class="text-center mt-3">
        <a asp-controller="Account" asp-action="LoginAdmin" class="btn btn-secondary w-50">Admin</a>
    </div>
</div>





@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
