@{
    ViewData["Title"] = "Home Page";
}
<div class="container">
    <div class="header">
        <h1>Xush kelibsiz!</h1>
        <p>Bizning platformamizda siz uylarni sotishingiz, sotib olishingiz yoki ijaraga olishingiz mumkin. Quyidagi bo'limlardan foydalanib, siz tez va osonlik bilan uylarni topishingiz yoki e'lon berishingiz mumkin.</p>
        <div class="cta-buttons">
            <a href="#" class="btn btn-primary">Uylarni Qidirish</a>
            <a asp-controller="Account" asp-action="Login" class="btn btn-success">E'lon Berish</a>
            <a asp-controller="Account" asp-action="Register" class="btn btn-info">Profil Yaratish</a>
        </div>
    </div>

    <div class="features">
        <div class="feature">
            <img src="https://img.icons8.com/ios-filled/100/000000/search--v1.png" alt="Qidiruv">
            <h3>Qidiruv Vositasi</h3>
            <p>Joylashuv, narx va boshqa filtrlardan foydalangan holda uyingizni toping.</p>
        </div>
        <div class="feature">
            <img src="https://img.icons8.com/ios-filled/100/000000/sell-property.png" alt="Sotish/Ijara">
            <h3>Sotish va Ijara</h3>
            <p>Uylarni sotish yoki ijaraga berish uchun oson va tezkor e'lonlar yarating.</p>
        </div>
        <div class="feature">
            <img src="https://img.icons8.com/ios-filled/100/000000/user.png" alt="Shaxsiy Kabinet">
            <h3>Shaxsiy Kabinet</h3>
            <p>Profilingizni yarating va o'z uylaringizni boshqaring, yangi e'lonlar qo'shing.</p>
        </div>
    </div>
